{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV
    </title>

  </head>
<body>

  <div class="ui grid">
  <div class="two wide column"></div>
    <div class="twelve wide column">

          <b style="font-size: 25px;">{{ user.first_name }} {{ user.last_name }}</b><br>
          <b>Age: </b>{{ profile.age }}<br>
          <b>Phone: </b>{{ profile.phone_no }} <br>
          <b>Email: </b>{{ user.email }}<br>
          <hr>
          <p>{{ profile.about_me }}</p>

          {% if educations %}
          <div class="ui text container">
              <b><h5 class="ui dividing header" style="background-color:#b0e2ff">Education</h5></b><br>

          <table class="table">
              <thead>
              <tr>
                  <th>Institute Name</th>
                  <th>Degree</th>
                  <th>Stream</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Grade</th>
              </tr>
              </thead>
              <tbody>
              {% for education in educations %}
              <tr>
                  <td>
                      {{ education.institute }}
                  </td>

                  <td>
                      {{ education.degree }}
                  </td>

                  <td>
                      {{ education.stream }}
                  </td>

                  <td>
                      {{ education.sdate }}
                  </td>

                  <td>
                      {{ education.edate }}
                  </td>

                  <td>
                      {{ education.grade }}
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table><br><br>

          </div>
          {% endif %}

      {% if courses %}
          <h5 style="background-color:#b0e2ff">Courses</h5>

          {% for course in courses %}
              <li style="font-size: 15px;"><b>{{ course.course_name }}</b></li>
              {% if course.license_no %}
              <b>License Number: </b>{{ course.license_no }}<br>
              {% endif %}
              <b>{{ course.sdate }}
              {% if course.edate %}
              - {{ course.edate }}</b>
              {% endif %}<br>
              {{ course.description }}<br><br>
          {% endfor %}

      {% endif %}

      {% if skills %}
          <br><b><h5 style="background-color:#b0e2ff">Skills and Technologies</h5></b><br>

             {% for skill in skills %}
                    <li style="font-size: 15px;"><b>{{ skill.skill_id.skill }}</b>, {{ skill.skill_rating }}% &nbsp</li>

            {% endfor %}<br>
      {% endif %}

          <b><h5 class="ui dividing header" style="background-color:#b0e2ff">Work Experience</h5></b><br>

      {% if experiences %}
      <b><center><u>Internships</u></center></b><br>

          {% for experience in experiences %}

          <li style="font-size: 15px;"><b>{{ experience.title }}</b></li>
          <b>Organisation: </b>{{ experience.company }}<br>
          <b>Location: </b>{{ experience.location }}<br>
          <b>{{ experience.sdate }}
          {% if experience.edate %}
          - {{ experience.edate }}</b>
          {% endif %}<br>
          {{ experience.description }}<br><br>

          {% endfor %}
          <br>
      {% endif %}

      {% if projects %}
      <b><center><u>Projects</u></center></b><br>

          {% for project in projects %}

          <li style="font-size: 15px;"><b>{{ project.project_name }}</b></li>
          <b>Status: </b>{{ project.project_status }}<br>
          <b>{{ project.sdate }}
          {% if experience.edate %}
          - {{ project.edate }}</b>
          {% endif %}<br>
          {{ project.summary }}<br><br>

          {% endfor %}<br>
      {% endif %}

      {% if achievements %}
          <b><h5 style="background-color:#b0e2ff">Achievements</h5></b><br>

          {% for achievement in achievements %}

          <li style="font-size: 15px;"><b>{{ achievement.achievement }}</b></li>
          <b>Issuer: </b>{{ achievement.issuer }}<br>
          <b>Type: </b>{{ achievement.achievement_type }}<br>
          <b>{{ achievement.date_earned }}</b><br>
          {{ achievement.description }}<br><br>

          {% endfor %}<br>
      {% endif %}

      {% if publications %}
          <b><h5 style="background-color:#b0e2ff">Publication</h5></b><br>

          {% for publication in publications %}

          <li style="font-size: 15px;"><b>{{ publication.publication_title }}</b></li>
          <b>Publisher: </b>{{ publication.publisher }}<br>
          <b>{{ publication.publication_date }}</b><br>
          {{ publication.description }}<br><br>

          {% endfor %}<br>
      {% endif %}


      {% if patents %}
          <b><h5 style="background-color:#b0e2ff">Patents</h5>/<b><br>

          {% for patent in patents %}

          <li style="font-size: 15px;"><b>{{ patent.patent_name }}</b></li>
          <b>Patent Office: </b>{{ patent.patent_office }}<br>
          <b>{{ patent.patent_date }}</b><br>
          {{ patent.description }}<br><br>

          {% endfor %}<br>
      {% endif %}

    </div>

</div>

<!--style type="text/css">
/* Some basic formatting */
.container {
  padding: 2em 0em;
}
.ui.dividing.header,
.first {
  margin-top: 5em;
}
.ui.dividing.header:first-child {
  margin-top: 0em;
}
h1,
h3 {
  margin-top: 7em;
}
/* Shows content box (not negative margins) */
.grid {
  position: relative;
  margin-top: 7em;
}
#maingrid{
  background:white;
  border: 0.5px solid #d3d3d3;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #888888;
}
</style-->

<style>

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
}

h1 {
  font-size: 4.6em;
  line-height: 1.2;
}

h2 {
  font-size: 3.6em;
  line-height: 1.25;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.8em;

}

h5 {
  margin-top: 0.1em;
  font-size: 1.6em;
}

h6 {
  font-size: 1.4em;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #3d3d3d;
 }
.tbl-content{
  height:150px;
  overflow-x:auto;
  margin-top: 0px;
  border: 10px solid #3d3d3d;
}
th{
  padding: 3px 2px;
  text-align: center;
  font-weight: 200;
  font-size: 12px;
  color: #3d3d3d;
  background-color: #d3d3d3;
  text-transform: uppercase;
  border-bottom: solid 1.5px #d2d2d2;
  border-top: solid 1.5px #3d3d3d;
}
td{
  padding: 2px;
  text-align: center;
  vertical-align:middle;
  font-weight: 200;
  font-size: 10px;
  color: #3d3d3d;
  border: solid 0px #3d3d3d;
}

body {
  color: #606c76;
  font-weight: 300;
  line-height: 1.6;
}

</style>
</body>

</html>
