{% load static %} {% block addcontent %}

<div class="ui pointing secondary menu">
    <a class="active item" data-tab="video">
            Add Video
        </a>

    <a class="item" data-tab="slide">
            Add Slide
        </a>
</div>


<div class="ui active tab segment" data-tab="video">
    <h4 class="ui dividing header">Add a video</h4>
    <form class="ui form" id="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <!--  code change starts -->
            <div class="One field">
                <div class="field">
                    <label> Name</label>
                    <input placeholder="Name" name="name" type="text">
                </div>
            </div>
            <!-- code change ends -->
        </div>
        <div class="field">
            <div class="fields">
                <div class="six wide field">
                    <label>Description</label>
                    <input placeholder="Description" name="description" type="text">
                </div>

                <div class="six wide field">
                    <label>Video File</label>
                    <input placeholder="Video File" id="vid" name="vid" accept="video/*" type="file">
                </div>
            </div>
            <div class="fields">
                <div class="two wide field">
                    <div class="ui labeled button" id="submit_vid" tabindex="0">
                        <div class="ui blue button">
                            <i class="save icon"></i>
                        </div>
                        <a class="ui basic blue left pointing label">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <h4 class="ui dividing header">Uploaded Videos</h4>

    <table class="ui fixed single line sortable celled table">
        <thead>
            <tr>
                <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 15%;">Name</th>
                <th class="" style="width: 53%;">Description </th>
                <th class="" style="width: 15%;">Video File</th>

                <th class="" style="width:10%">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1.</td>
                <td>Student's Name</td>
                <td>Student's Thesis's Title</td>

                <td>Sfhfs</td>
                <td><i class="edit icon" style="font-size:1.3vw;color:blue"></i><br><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Student's Name</td>
                <td>Student's Thesis's Title</td>

                <td>Sfhfs</td>
                <td><i class="edit icon" style="font-size:1.3vw;color:blue"></i><br><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></td>
            </tr>


        </tbody>

        <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="ui tab segment" data-tab="slide">
    <h4 class="ui dividing header">Add a Slide</h4>
    <form class="ui form" id="form2" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">

            <div class="One field">
                <div class="field">
                    <label> Name</label>
                    <input placeholder="Name" name="name" type="text">
                </div>
            </div>

        </div>
        <div class="field">
            <div class="fields">
                <div class="six wide field">
                    <label>Description</label>
                    <input placeholder="Description" name="description" type="text">
                </div>

                <div class="six wide field">
                    <label>Slide File</label>
                    <input placeholder="Slide File" id="doc" name="doc" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf" type="file">
                </div>
            </div>
            <div class="fields">
                <div class="two wide field">
                    <div class="ui labeled button" id="submit_doc" tabindex="0">
                        <div class="ui blue button">
                            <i class="save icon"></i>
                        </div>
                        <a class="ui basic blue left pointing label">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <h4 class="ui dividing header">Uploaded Slides:</h4>

    <table class="ui fixed single line sortable celled table">
        <thead>
            <tr>
                <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 15%;">Name</th>
                <th class="" style="width: 53%;">Description </th>
                <th class="" style="width: 15%;">Video File</th>

                <th class="" style="width:10%">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1.</td>
                <td>Student's Name</td>
                <td>Student's Thesis's Title</td>

                <td>Sfhfs</td>
                <td><i class="edit icon" style="font-size:1.3vw;color:blue"></i><br><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Student's Name</td>
                <td>Student's Thesis's Title</td>

                <td>Sfhfs</td>
                <td><i class="edit icon" style="font-size:1.3vw;color:blue"></i><br><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></td>
            </tr>



        </tbody>

        <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}
