<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Appointment</title>
</head>

<body>
         <br><br>
        <form method='POST'>{% csrf_token %}
          Description of the disease={{ form.description }}<br>
          Doctor={{ form.doctor_id }}<br>
          Date={{form.appointment_date}}<br>
          Time={{form.appointment_time}}<br>
        <input type="submit" name="Submit" value="submit">
        </form>

    <!--      Add constraints for format of file-->

</body>

</html>
