<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Appointment</title>
</head>

<body>

  <table cellpadding=5 cellspacing=10>
    <tr><th>UserId</th><th>Complaint</th><th>Feedback</th><th></th></tr>
  {% for obj in query%}

        <tr>  <td> {{obj.user_id}}</td>
              <td>{{obj.complaint}}</td>
              <form method='POST'>{% csrf_token %}
              {% if obj.feedback == None %}
              <td><textarea name="feedback"></textarea></td>
              <input type="hidden" name="id" value={{obj.id}} />
              <td><input type="submit" name="submit" class="but" value="Submit"/></td>
              </form>
              {%else%}
              <td>{{obj.feedback}}</td>
              {% endif %}

        </tr>


  {% endfor %}
  </table>
    <!--      Add constraints for format of file-->

</body>

</html>
