<!DOCTYPE html>
<html>
<head>
	<title>checkout</title>
</head>
<body>
<form  action="/visitorhostel/bill/" method="post">
{% csrf_token %}
   <center>
    <div class="context">
        
            <h1>Name : {{context.visitor}}</h1>
            <h2>Total meal Bill:{{context.mess_bill}}₹</h2>
            <h2>Total Room Bill:{{context.room_bill}}₹</h2>
            <h2>Total bill:{{context.t_bill}}₹</h2>
        
     </div>

    <br>
    <input type="hidden" name="room_bill" value={{context.room_bill}}>
    <input type="hidden" name="mess_bill" value={{context.mess_bill}}>
    <input type="hidden" name="visitor" value={{context.v_id}}>
  <select name="status" required>
  	<option value="">None</option>
  	<option value="True">paid</option>
    <option value="False">unpaid</option>
  </select>
    <input type="submit" value="submit"/>
    </center>
</form>
</body>
</html>