<!DOCTYPE html>
<html>
<head>
	<title>visitor hostel</title>
</head>
<body>
<p>
	{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
	<a href="/visitorhostel/vh_booking_request/">view booking request</a> <br>
	<a href="/visitorhostel/view_booking/">view booking</a> <br>
	<a href="/visitorhostel/cancel_booking/">cancel booking</a> <br>
	<a href="/visitorhostel/checkin/">guest check in</a> <br>
</p>
</body>
</html>