{% extends 'globals/base.html' %}
{% load static %}
{% block body %}
{% block invitation %}
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="invitation">
        Meeting Invitation
    </a>
</div>
<div class="ui active tab" data-tab="invitation">
    <div class="ui vertical stripe team segment"
         style="padding-left: 3.5%;
                padding-right: 3.5%;">

        <form  method="POST"  action="invitation/" class="ui large form">
            {% csrf_token %}

            {% comment %} The invitation form  starts here! {% endcomment %}

            {% comment %}The form row starts here!{% endcomment %}


            <div class="two fields">
                <div class="field">
                    <label>Date</label>
                    <!-- <div class="ui calendar" id="rangestart">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i> -->
                            <input  name="date" type="date" placeholder="Date" required="true">
                        <!-- </div>
                    </div> -->
                </div>

                <div class="field">
                    <label>Time</label>
                    <input name="time" type="time" required="true">
                </div>

            </div>
            <div class="two fields">
                <div class="field">
                    <label>Agenda</label>
                    <input name="agenda" placeholder="Agenda" type="text" required="true">
                </div>
                 <div class="field">
                    <label>Place</label>
                                <select  name="venue" class="ui search fluid dropdown" required="true">
                                    <option value="Cm1">Central Mess I</option>
                                    <option value="Cm2">Central Mess II</option>
                                </select>

                </div>

            </div>
           <div class="field">
                   <label>Description:</label>
                        <textarea name="description" rows="2" required="true"></textarea>
           </div>

             <div class="field">
                                <label><br></label>
                                <button class="ui primary right floated button" type="submit">
                                    Submit
                                </button>


                            </div>
            <br>

        </form>
        <div class="ui divider"></div>
    </div>
</div>

{% endblock %}
{% endblock %}
