{% load static %}
{% block minutes %}
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="minutes">
        Meeting Minutes
    </a>
</div>
<div class="ui active tab" data-tab="minutes">
    <div class="ui vertical stripe team segment"
         style="padding-left: 3.5%;
                padding-right: 3.5%;">

        <form class="ui form" method="POST" enctype="multipart/form-data" id="minutes" action="{% url 'mess:minutes' %}">
            {% csrf_token %}
                <div class="field">
                    <div class="three fields">
                        {{form.as_p}}
                        <div class="field">
                            <label><br></label>
                            <input type="submit" value="Save" />
                        </div>
                    </div>
                </div>            
        </form>
        <div class="ui divider"></div>

        <table class="ui very basic collapsing celled table sortable centered" style="margin: auto;">
                <thead>
                <tr>
                    <th>Meeting Date</th>
                    <th>Venue</th>
                    <th>Agenda</th>
                    <th>Time</th>
                    <th>Minutes</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in minutes %}
                <tr>
                    <td>{{item.meeting_date}}</td>
                    <td>{{item.venue}}</td>
                    <td>{{item.agenda}}</td>
                    <td>{{item.meeting_time}}</td>
                    <th>{{item.mess_minutes}}</th>
                </tr>
                    {% endfor %}
                </tbody>
            </table>

    </div>
</div>

{% endblock %}
