{% extends 'globals/base.html' %}
{% load static %}
{% block body %}
{% block vacationfoodrequest %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="vactionfoodrequest">
            Apply
        </a>

        <a class="item" data-tab="vactionfoodrequeststatus">
            Status
        </a>
    </div>

    <div class="ui active tab" data-tab="vactionfoodrequest">
        <div class="ui vertical segment">

            {% comment %}Form Tag starts here!{% endcomment %}
            <form method="post" action="{% url 'mess:vacasubmit' %}">
                {% csrf_token %}
                {% comment %}The add a new skill Accordian starts here!{% endcomment %}
                <div class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;">

                    <div class="ui header">
                        Apply for Food during Vacations:
                    </div>

                    <br>

                    <div class="two fields">
                        <div class="field">
                            <label>Mess:</label>
                            <input value="Central Mess #1 {{stu.mess_option}}" class="ui large input" readonly>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>Leave From:</label>
                            <div class="ui calendar" id="rangestart">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="date" name="start_date">
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Leave To:</label>
                            <div class="ui calendar" id="rangeend">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="date" name="end_date">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Purpose:</label>
                        <textarea rows="2" name="purpose"></textarea>
                    </div>

                    <div class="field">
                        <button class="ui primary button right floated" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            {% comment %}Form Tag ends here!{% endcomment %}

            <br>
            <br>

            <div class="ui divider"></div>

        </div>
    </div>

    <div class="ui tab" data-tab="vactionfoodrequeststatus">
        {% for req in vaca %}
        <div class="ui very relaxed fluid selection list" style="padding-left: 24px; padding-top: 16px; padding-bottom: 16px; max-height: 70vh; overflow-y: auto;">

            <div class="item">
                <img class="ui mini circular image" src="{% static 'globals/img/zlatan.jpg' %}">
                <div class="content">
                    <a class="header">{{info.user.username}}</a>
                    <span class="meta">{{req.start_date}}-{{req.end_date}}</span>

                    <div class="description">
                        {{req.purpose}}
                    </div>
                </div>

                <div class="right floated content">
                    <span class="meta">October 28 '17</span> <!-- update models for fill app date -->
                </div>
            </div>

        </div>
        {% endfor %}
        <div class="ui divider"></div>
    </div>
{% endblock %}
{% endblock %}
