{% block bookaroom %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="bookaroom">
            Book a Room
        </a>
    </div>

    <div class="ui active tab" data-tab="bookaroom">
        <div class="ui vertical stripe team segment"
             style="padding-left: 3.5%;
                padding-right: 3.5%;">

            <form class="ui large form">

                {% comment %} The visitor room form  starts here! {% endcomment %}
                <div id="bookaroom">
                    {% comment %}The form row starts here!{% endcomment %}

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Name </label>

                                <input value="" type="text">
                            </div>

                            <div class="field">
                                <label>Organization</label>
                                <input placeholder="Organization" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Phone </label>
                                <input placeholder="Phone" type="number">
                            </div>

                            <div class="field">
                                <label>Email</label>
                                <input placeholder="Email" type="Email">
                            </div>
                        </div>
                    </div>

                    <div class="sixteen wide field">
                        <label>Address:</label>
                        <div class="ui fluid input">
                            <textarea class="ui textarea" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="four fields">

                            <div class="field">
                                <label>Category:</label>

                                <div class="ui fluid search selection dropdown">
                                    <input name="" type="hidden">
                                    <i class="dropdown icon"></i>

                                    <div class="default text">Select</div>

                                    <div class="menu">
                                        <div class="item" data-value="A">
                                            A
                                        </div>

                                        <div class="item" data-value="B">
                                            B
                                        </div>

                                        <div class="item" data-value="C">
                                            C
                                        </div>

                                        <div class="item" data-value="D">
                                            D
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>Country</label>
                                <div class="ui fluid input">
                                    <input name="country" value="">
                                </div>
                            </div>

                            <div class="field">
                                <label>Number Of People </label>

                                <div class="ui fluid search selection dropdown">
                                    <input name="noOfPeople" type="hidden">
                                    <i class="dropdown icon"></i>

                                    <div class="default text">Select</div>

                                    <div class="menu">
                                        <div class="item" data-value="1">
                                            1
                                        </div>

                                        <div class="item" data-value="B">
                                            2
                                        </div>

                                        <div class="item" data-value="C">
                                            3
                                        </div>

                                        {% comment %}
                                    Do it using a for loop in Python -->
                                    {% for i in range(10) %}-->

                                    <div class="item" data-value="C">
                                        {{i}}
                                    </div>

                                    {% endfor %}
                                    {% endcomment %}

                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>No Of Rooms:</label>
                                <div class="ui fluid search selection dropdown">
                                    <input name="Select" type="hidden">
                                    <i class="dropdown icon"></i>

                                    <div class="default text">Select</div>

                                    <div class="menu">
                                        <div class="item" data-value="1">
                                            1
                                        </div>

                                        <div class="item" data-value="2">
                                            2
                                        </div>
                                        <div class="item" data-value="3">
                                            3
                                        </div>

                                        <div class="item" data-value="4">
                                            4
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Purpose Of Visit</label>
                        <textarea rows="2"></textarea>
                    </div>

                </div>
                <div class="field">
                    <label><br></label>
                    <div class="ui large primary button right floated">
                        Submit
                    </div>
                </div>
                <br>
                <br>
            </form>
        </div>
        <br>
        <div class="extra content"></div>
    </div>
{% endblock %}
