<!DOCTYPE html>
<html>
<head>
	<title>Cancel booked Room</title>
</head>
<body>
<form  method="post">
    {% csrf_token %}
    <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
<table>
<tr>
    	<th>Visitor Name</th>
    	<th>Intender Name</th>
    	<th>Category</th>
    	<th>Number of person</th>
    	<th>Number of room</th>
    	<th>Booking From</th>
    	<th>Booking to</th>
    	<th>Cancel</th>
 </tr>
{% for context1 in context %}
    <div class="context">
        <tr>
            <td>{{context1.visitor_id.visitor_name}}</td> 
            <td>{{context1.visitor_id.intender_id}}</td> 
            <td>{{context1.visitor_category}}</td>
            <td>{{context1.person_count}}</td>
            <td>{{context1.room_count}}</td>
            <td>{{context1.booking_from}}</td>
            <td>{{context1.Booking_to}}</td>
            <td><button type="submit" value = {{context1.br_id}} name = "cancel">cancel</button></td>
        </tr>
     </div>
{% endfor %}
<a href="/visitorhostel/vh_homepage/">click here to goto home</a>
</body>
</html>