{% load static %}
{% block timetable %}

 <div class="ui pointing secondary menu">
        <a class="active item" data-tab="academic">
            Academic Time-Table
        </a>
        <a class=" item" data-tab="exam">
            Exam Time-Table
        </a>
</div>
<!-- academic time table -->
 <div class="ui active tab segment" data-tab="academic">

    <h4 class="ui dividing header">Edit Time Table</h4>

    <form class="ui form" action="{% url 'academic_information:add_timetable' %}" method="POST" enctype="multipart/form-data" id="form7">
            {% csrf_token %}
        <div class="field">
            <div class="three fields">                   
                    {{ acadTtForm.as_p }}
                    </div> 
                </div>
                
                <div class="fields">
                    <div class="one wide field">
                        <label><br></label>
                       <a href="#" onclick="document.getElementById('form7').submit();">
                        <div class="ui primary button">Save
                            <i class="ui save icon right floated"></i>
                        </div>
                        </a>
                    </div> 
                </div>
        </form>  

        <table class="ui fixed sortable celled table table">
            <thead>
                    <tr>
                        <th style="width: 7%;">Sr.</th>
                        <th style="width: 30%;">Year</th>
                        <th style="width: 30%;">Programme</th>
                        <th style="width: 30%;">Upload Date</th>
                        <th style="width: 23%;"> Timetable File</th>
                        <th style="width:10%">Action</th>
                      
                    </tr>
                  </thead>
            <tbody>
                      
                          
                         {% for c in timetable %}
                           <tr>
                             <td>{{ forloop.counter }}</td>
                               <td>{{ c.year }}</td>
                             <td>{{ c.programme }}</td>
                             <td>{{ c.upload_date }}</td>
                               <td><a href="{{ c.time_table.url }}">{{ c.time_table.name }}</a></td>
                               <form action="{% url 'academic_information:delete_timetable' %}" method="POST">{% csrf_token %}
                             <td><button type="submit" value="{{ c.time_table }}" name="delete"><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></button></td>
                             
                           </tr>
                         {% endfor %}
                         </form>                    
                  </tbody>
                </table>

    </div>

<!-- end of acad time table -->

<!-- exam timetable -->
    <div class="ui  tab segment" data-tab="exam">

       <h4 class="ui dividing header">Edit Time Table</h4>

         <form class="ui form" method="POST" enctype="multipart/form-data" action="{% url 'academic_information:add_exam_timetable' %}" id="form8">
             {% csrf_token %}
            <div class="field">
                 <div class="three fields">
                        {{ examTtForm.as_p }}
                 </div>
            </div>
                
             <div class="fields">                  

                    <div class="one wide field">
                        <label><br></label>
                        <a href="#" onclick="document.getElementById('form8').submit();">
                        <div class="ui primary button">Save
                            <i class="ui save icon right floated"></i>
                        </div>
                             </a>
                    </div> 
                </div>
        </form>  

          <table class="ui fixed sortable celled table table">
                  <thead>
                      <tr>
                          <th style="width: 7%;">Sr.</th>
                          <th style="width: 30%;">Year</th>
                            <th style="width: 30%;">Programme</th>
                          <th style="width: 30%;">Upload Date</th>
                          <th style="width: 23%;"> Timetable File</th>
                          <th style="width:10%">Action</th>
                          
                        </tr>
                  </thead>
                  <tbody>
                      
                         {% for c in exam %}
                           <tr>
                             <td>{{ forloop.counter }}</td>
                             <td>{{ c.year }}</td>
                               <td>{{ c.programme }}</td>
                             <td>{{ c.upload_date }}</td>
                             <td><a href="{{ c.exam_time_table.url }}">{{ c.exam_time_table.name }}</a></td>                             
                              <td><form action="{% url 'academic_information:delete_exam_timetable' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}<button type="submit" value="{{ c.exam_time_table }}" name="delete"><i class="trash outline icon" style="font-size:1.3vw;color:red;"></i></button></td>
                             
                           </tr>
                         {% endfor %}
                         </form>
                    <tr>
                     

                    </tr>
                    <tr>
                     

                    </tr>
                  </tbody>
                </table>

    </div>


<!-- end -->


    {% endblock %}